*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Clinton, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(1, 94, 86, 0.966);
    background-image: linear-gradient(90deg, rgb(11, 172, 158) 0%, rgb(0, 161, 148) 75%, rgb(10, 185, 171) 100%);
}

.page-header {
    display: flex;
    flex-direction: column; 
}